# This will assign and alert the "code owners" of each subsystem.
# The code owners are who wrote most of the code or who wrote the skeleton.

*       @Team488/core-robot-maintainers

src/main/java/competition/subsystems/ClimberSubsystem/ @AlanYuan99 @Team488/core-robot-maintainers

src/main/java/competition/subsystems/DriveSubsystem/ @JonahIsFake @Team488/core-robot-maintainers

src/main/java/competition/subsystems/IntakeSubsystem/ @Clulogh @Team488/core-robot-maintainers

src/main/java/competition/subsystems/HoodSubsystem/ @Yiting-Hu @Team488/core-robot-maintainers

src/main/java/competition/subsystems/HopperRollerSubsystem/ @Clulogh @Team488/core-robot-maintainers

src/main/java/competition/subsystems/IntakeDeploySubsystem/ @JunNing0701 @Team488/core-robot-maintainers

src/main/java/competition/subsystems/LightsSubsystem/ @JonahIsFake @Team488/core-robot-maintainers

src/main/java/competition/subsystems/PoseSubsystem/ @pwbriggs @Team488/core-robot-maintainers

src/main/java/competition/subsystems/ShooterSubsystem/ @Clulogh @Team488/core-robot-maintainers

src/main/java/competition/subsystems/ShooterFeederSubsystem/ @JonahIsFake @Team488/core-robot-maintainers

src/main/java/competition/subsystems/AprilTagVisionSubsystem/ @pwbriggs @Team488/core-robot-maintainers

src/main/java/competition/subsystems/VoltageMonitorSubsystem/ @VictorChen1-1 @Team488/core-robot-maintainers

src/main/java/competition/auto_programs/ @GlowDisk @Team488/core-robot-maintainers
